/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
body {
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

.blue {
    color: rgb(53, 93, 224);
}
.black {
    color:rgb(36, 39, 42);
}
.gray {
    color: rgb(246, 246, 246);
}
.lilla-btn {
    color: rgb(146, 160, 220);
}
.lilla-txt {
    color: rgb(119, 136, 212);
}

.debug {
    border: 1px solid black;
    min-height: 100px;
}

/* NAV SECTION  */
header {
    background-color: rgb(53, 93, 224)
}
.nav-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}
.button {
    background-color: white;
    color:rgb(36, 39, 42);
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 13px;
    
}
ul {
    list-style: none;
}
.flexbox {
    display: flex;
    flex-grow: row wrap;
    justify-content: space-between;
    align-items: center; 
}
header nav ul {
    min-width: 550px; 
}

.nav-container li a {
    color: white;
}

/* HERO SECTION  */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 560px;
}
.hero-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    color: white;
    font-size: 50px; 
    padding-top: 110px;
    padding-bottom: 40px;
}
div.hero-container p {
    color: white;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
    text-align: center;
}
.white-btn {
    background-color: white;
    color:rgb(36, 39, 42);
    border-radius: 25px;
    padding: 16px 32px;
    font-size: 20px;
    margin-left: 50px;
}
.black-btn {
    background-color: rgb(36, 39, 42);
    color: white;
    border-radius: 25px;
    padding: 16px 32px;
    font-size: 20px;
    margin-left: 25px;
}
.hero-container i {
    font-size: 15px;
    margin-right: 8px;
}

/* MAIN  */

/* Section 1  */

.flex-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    
}
.reverse {
    flex-direction: row-reverse;
}

.section-white {
    width: 100%;
    background-color: white;
}
.section-gray {
    width: 100%;
    background-color: rgb(246, 246, 246);
}
.wrap-white {
    height: 700px;     /* da cambiare quando si inserisce la wave  */
    max-width: 80%;
    margin: auto;
    background-color: white;
}
.wrap-gray {
    height: 680px;
    max-width: 80%;
    margin: auto;
    background-color: rgb(246, 246, 246);
}

h2 {
    font-size: 48px;
    width: 350px;
    padding-top: 100px;
}
.wrap-white img {
    padding: 0 50px;
}
.flex-section p {
    width: 360px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 35px;
}

/* Section 2  */

.wrap-gray.reverse h2 {
    padding-top: 0px;
}
.wrap-gray.reverse div {
    padding-bottom: 100px;
}



